<div>
        <div>
                <!-- <a href="#" [routerLink]="['/nhanvien/create']" class="btn btn-success">Thêm mới</a> -->
                <div class="form-group">
                        <div class="input-group">
                                <button mat-raised-button color='primary' class="btn btn-success"
                                        (click)="addNhanVien()">Thêm mới nhân viên</button>
                                <!-- <div class="input-group-addon"><button type="button" (click)="Search()"
                                                class="btn btn-primary">Tìm kiếm</button>
                                </div>
                                <input type="text" name="keyword" [(ngModel)]="keyword" placeholder="Search"/> -->
                        </div>
                </div>
        </div>
        <table class="table table-striped" style="width:100%">
                <thead>
                        <tr>
                                <th scope="col">#</th>
                                <th scope="col">ID</th>
                                <th scope="col">Họ tên</th>
                                <th scope="col">Giới tính</th>
                                <th scope="col">Sở thích</th>
                                <th scope="col">Học lực</th>
                                <th scope="col">SĐT</th>
                        </tr>
                </thead>
                <tbody>
                        <tr *ngFor="let item of data">
                                <td>
                                        <!-- <a href="#" [routerLink]="['/nhanvien/', item.id]" class="btn btn-primary">Edit</a> -->
                                        <button type="button" (click)="editNhanVien(item.id)"
                                                class="btn btn-info">Edit</button>
                                        <button type="button" (click)="onRowDelete(item.id)"
                                                class="btn btn-danger">Delete</button>
                                </td>
                                <td>{{item.id}}</td>
                                <td>{{item.hoTen}}</td>
                                <td>{{item.gioiTinh}}</td>
                                <td>{{item.soThich}}</td>
                                <td>{{item.hocLuc}}</td>
                                <td>{{item.sdt}}</td>
                        </tr>
                </tbody>
        </table>
</div>
