<div [@fadeInOut]>
    <dx-data-grid #dataSourceGrid class="content-block" (onSelectionChanged)="onSelectionChanged($event)" (onToolbarPreparing)="onToolbarPreparing($event)" [showColumnLines]="true" [cacheEnabled]="false" [dataSource]="dataSource" [remoteOperations]="true" [hoverStateEnabled]="true" [rowAlternationEnabled]="true" [allowColumnResizing]="true" [columnAutoWidth]="true" [showBorders]="true" [columnAutoWidth]="true" [columnHidingEnabled]="false">
        <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
        <dxo-paging [pageSize]="10"></dxo-paging>
        <!-- <dxo-master-detail [enabled]="true" template="detail"></dxo-master-detail> -->

        <dxi-column dataField="id" caption="Order Id" [width]="150" alignment="center" [fixed]="true" [allowHeaderFiltering]="false"></dxi-column>
        <dxi-column dataField="member" caption="Member Name" cellTemplate="memberTemplate" [allowFiltering]="false" [allowSorting]="false"></dxi-column>
        <dxi-column caption="Class Room" alignment="center">
            <dxi-column dataField="classRoom" caption="Name" cellTemplate="classRoomTemplate" [allowFiltering]="false" [allowSorting]="false"></dxi-column>
            <dxi-column caption="Fee" width="120" dataType="number" alignment="center" cellTemplate="feeTemplate"></dxi-column>
            <dxi-column dataField="status" caption="Status" width="120" alignment="center" cellTemplate="statusTemplate" [allowSorting]="false" [allowFiltering]="false" [allowHeaderFiltering]="true">
                <dxo-header-filter [dataSource]="classStatusFilter"></dxo-header-filter>
            </dxi-column>
        </dxi-column>
        <dxi-column caption="Course Name" cellTemplate="courseTemplate" [allowFiltering]="false" [allowSorting]="false"></dxi-column>
        <dxi-column dataField="createdDate" dataType="date" width="150" alignment="center" [allowHeaderFiltering]="false"></dxi-column>

        <dxi-column dataField="id" [width]="120" type="buttons" caption="" [allowSorting]="false" cellTemplate="taskCellTemplate"> </dxi-column>

        <div *dxTemplate="let cell of 'detail'">
            <dx-data-grid [dataSource]="cell.data.users" [showColumnLines]="true" [hoverStateEnabled]="true" [rowAlternationEnabled]="true" [columnAutoWidth]="true" [showBorders]="true">
                <dxi-column dataField="fullName" width="312" caption="Full Name" [fixed]="true"></dxi-column>
                <dxi-column dataField="chineseName" [width]="180" alignment="center"></dxi-column>
                <dxi-column dataField="email"></dxi-column>
                <dxi-column dataField="phoneNumber" [width]="190" alignment="center"></dxi-column>
                <dxi-column dataField="birthDate" [width]="150" alignment="center" dataType="date" format="MM/dd/yyyy" [allowFiltering]="false"></dxi-column>
                <dxi-column dataField="joinDate" [width]="150" alignment="center" dataType="date" format="MM/dd/yyyy" [allowFiltering]="false"></dxi-column>
            </dx-data-grid>
        </div>

        <div *dxTemplate="let cell of 'groupNameTemplate'">
            <div><b class="text-highlight">{{cell.value}}</b></div>
        </div>

        <div *dxTemplate="let cell of 'memberTemplate'">
            <div><b class="text-highlight">{{cell.value?.fullName}}</b></div>
            <div><span class="text-muted f-12"><i class="dx-icon-email f-12"></i> {{cell.value?.email}}</span></div>
        </div>

        <div *dxTemplate="let cell of 'classRoomTemplate'">
            <div><b class="text-highlight">{{cell.value?.name}}</b></div>
            <div><span class="text-muted f-12">Schedule Date: {{cell.value?.scheduleDate | date : 'MM/dd/yyyy'}}</span></div>
        </div>

        <div *dxTemplate="let cell of 'feeTemplate'">
            <div class="text-right"><b>{{cell.data?.classRoom?.fee | currency : '' }}</b></div>
        </div>

        <div *dxTemplate="let cell of 'courseTemplate'">
            <div><b>{{cell.data?.classRoom?.course?.name }}</b></div>
            <div><span class="text-muted f-12">Id: {{cell.data?.classRoom?.course?.id}}</span></div>
        </div>

        <div *dxTemplate="let cell of 'statusTemplate'">
            <div [ngSwitch]="cell.data.classRoom.status">
                <b *ngSwitchCase="1" style="color: cornflowerblue;">Opening</b>
                <b *ngSwitchCase="2" style="color: green;">In Progress</b>
                <b *ngSwitchCase="3" style="color: orange;">Pending</b>
                <b *ngSwitchCase="4" style="color: gray;">Ended</b>
                <b *ngSwitchDefault style="color: red;">Draft</b>
            </div>
        </div>

        <div *dxTemplate="let d of 'taskCellTemplate'" class="dx-command-edit dx-command-edit-with-icons" style="display: flex; justify-content: space-around;min-width: 0;width: auto;">
            <!-- <a class="dx-link dx-link-edit dx-icon-edit dx-link-icon" title="Edit" aria-label="Edit" (click)="onRowEdit(d)"></a> -->
            <a class="dx-link dx-link-refresh dx-icon-refresh dx-link-icon" title="Cancel" aria-label="Cancel" (click)="onRowDelete(d)"></a>
        </div>

        <dx-button *dxTemplate="let data of 'deleteButton'" [class.hidden]="!selectedRows.length" stylingMode="contained" type="default" text="Delete Selected Records"> </dx-button>

    </dx-data-grid>
</div>

<dx-popup (onHidden)="onHidePopup()" [maxWidth]="1024" [height]="'auto'" title="Order Info" [showTitle]="true" [closeOnOutsideClick]="false" [(visible)]="popupVisible">
    <form novalidate (submit)="onSave($event)">
        <dx-form #taskForm [formData]="obj" [disabled]="isLoading" [showColonAfterLabel]="false" labelLocation="top">
            <dxi-item itemType="group" cssClass="first-group" [colCount]="5">
                <dxi-item [colSpan]="2" dataField="memberId" editorType="dxSelectBox" [editorOptions]="{ stylingMode: 'filled', onValueChanged: onSelectValueChanged, valueExpr: 'id', displayExpr: 'fullName', dataSource: members}">
                    <dxo-label text="Member"></dxo-label>
                    <dxi-validation-rule type="required"></dxi-validation-rule>
                </dxi-item>

                <dxi-item [colSpan]="2" dataField="classRoomId" editorType="dxSelectBox" [editorOptions]="{ stylingMode: 'filled', onValueChanged: onSelectValueChanged, itemTemplate: 'classRoomItem', valueExpr: 'id', displayExpr: 'name', dataSource: classRooms}">
                    <dxo-label text="Class"></dxo-label>
                    <dxi-validation-rule type="required"></dxi-validation-rule>
                </dxi-item>

                <dxi-item [colSpan]="1" dataField="paymentType" editorType="dxSelectBox" [editorOptions]="{ stylingMode: 'filled', items: ['Cash','Bank transfer']}">
                    <dxi-validation-rule type="required"></dxi-validation-rule>
                </dxi-item>
            </dxi-item>

            <dxi-item itemType="group" [colSpan]="5" [colCount]="2" cssClass="bg-input p-rem-1 mt-rem-1">
                <dxi-item itemType="custom">
                    <h6 class="m-0">Member info</h6>
                    <table class="custom-table">
                        <tr>
                            <td>Full Name</td>
                            <td>{{membersData?.fullName}}</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>{{membersData?.email}}</td>
                        </tr>
                        <tr>
                            <td>Phone Number</td>
                            <td>{{membersData?.phoneNumber}}</td>
                        </tr>
                        <tr>
                            <td>Gender</td>
                            <td>{{membersData?.gender}}</td>
                        </tr>
                        <tr>
                            <td>Birth Date</td>
                            <td>{{membersData?.birthDate | date : 'MM/dd/yyyy'}}</td>
                        </tr>
                        <tr>
                            <td>Birth Date</td>
                            <td>{{membersData?.joinDate | date : 'MM/dd/yyyy'}}</td>
                        </tr>
                    </table>
                </dxi-item>
                <dxi-item itemType="custom">
                    <h6 class="m-0">Class info</h6>
                    <table class="custom-table">
                        <tr>
                            <td>Class Name</td>
                            <td>{{classRoomsData?.name}}</td>
                        </tr>
                        <tr>
                            <td>Course Name</td>
                            <td>{{classRoomsData?.course?.name}}</td>
                        </tr>
                        <tr>
                            <td>Mumber Of Lesson</td>
                            <td>{{classRoomsData?.course?.numberOfLesson}}</td>
                        </tr>
                        <tr>
                            <td>Requirements</td>
                            <td>{{classRoomsData?.course?.requirements}}</td>
                        </tr>
                        <tr>
                            <td>Schedule Date</td>
                            <td>{{classRoomsData?.scheduleDate | date : 'MM/dd/yyyy'}}</td>
                        </tr>
                        <tr>
                            <td>Schedule Time</td>
                            <td>
                                <span *ngIf="classRoomsData && classRoomsData.startTime">{{classRoomsData?.startTime?.hours < 12 ? '0' : '' }}{{classRoomsData?.startTime?.hours}}:{{classRoomsData?.startTime?.minutes}} {{classRoomsData?.startTime?.hours < 12 ? 'AM' : 'PM' }} </span>

                                        <span *ngIf="classRoomsData && classRoomsData.startTime && classRoomsData.endTime"> - </span>
                                        <span *ngIf="classRoomsData && classRoomsData.endTime"> {{classRoomsData?.endTime?.hours < 12 ? '0' : '' }}{{classRoomsData?.endTime?.hours}}:{{classRoomsData?.endTime?.minutes}} {{classRoomsData?.endTime?.hours < 12 ? 'AM' : 'PM' }} </span>
                            </td>
                        </tr>
                    </table>
                </dxi-item>
            </dxi-item>

            <dxi-item itemType="button" cssClass="last-group pb-0 pt-0 mt-rem-1">
                <dxo-button-options type="default" [useSubmitBehavior]="true" [template]="'taskFormTemplate'" [elementAttr]="{ class: 'submit-button' }"></dxo-button-options>
            </dxi-item>

            <div *dxTemplate="let data of 'classRoomItem'">
                <div>
                    <div class="d-block text-highlight"><b>{{data.name}}</b></div>
                    <div class="d-block f-12"><b>Date :</b> {{data.scheduleDate | date : 'MM/dd/yyyy'}} | <b>Start Time :</b> {{data.startTime.hours < 12 ? '0' : '' }}{{data.startTime.hours}}:{{data.startTime.minutes}} {{data.startTime.hours < 12 ? 'AM' : 'PM' }} - <b>EndTime :</b> {{data.endTime.hours < 12 ? '0' : '' }}{{data.endTime.hours}}:{{data.endTime.minutes}} {{data.endTime.hours < 12 ? 'AM' : 'PM' }} </div>
                    </div>
                </div>

                <ng-container *dxTemplate="let item of 'taskFormTemplate'">
                    <span class="dx-button-text dx-button-with-loading">
                        <ng-container *ngIf="isLoading; else notLoading">
                            <dx-load-indicator width="24px" height="24px"></dx-load-indicator>
                            <div class="display">Loading... </div>
                        </ng-container>
                        <ng-template #notLoading>Pay</ng-template>
                    </span>
                </ng-container>

        </dx-form>
    </form>
</dx-popup>