<form [formGroup]="nhanvienForm">
        <div class="col-12">
                <div class="card">
                        <div class="card-body">
                                <div class="row">
                                        <div class="col-lg-6">
                                                <h4 class="card-title">Thêm mới nhân viên</h4>
                                        </div>
                                </div>
                                <!-- <div class="row row-head">
                        <div class="col-md-3 col-lg-2">
                            <label>ID:</label>
                        </div>
                        <div class="col-md-9 col-lg-4">
                            <input type="text" class="form-control" formControlName="id" id="id" />
                        </div>
                    </div> -->
                                <div class="row row-head">
                                        <div class="col-md-3 col-lg-2">
                                                <label>Họ tên:</label>
                                        </div>
                                        <div class="col-md-9 col-lg-4">
                                                <input type="text" class="form-control" formControlName="hoTen"
                                                        id="hoTen" />
                                                <div *ngIf="submit && f.hoTen.errors" class="invalid-feedback"
                                                        style="color: red;">
                                                        <div *ngIf="f.hoTen.errors.required">Nhập họ tên</div>
                                                </div>

                                        </div>
                                </div>
                                <div class="row row-head">
                                        <div class="col-md-3 col-lg-2">
                                                <label>Sở thích</label>
                                        </div>
                                        <div class="col-md-9 col-lg-4">
                                                <select name="hocLuc" id="hocLuc" formControlName="soThich">
                                                        <option value="Đá bóng" selected>Đá bóng</option>
                                                        <option value="Xem phim">Xem phim</option>
                                                        <option value="Chơi Game">Chơi Game</option>
                                                        <option value="Không">Không</option>
                                                </select>
                                        </div>
                                </div>
                                <div class="row row-head">
                                        <div class="col-md-3 col-lg-2">
                                                <label>Giới tính:</label>
                                        </div>
                                        <div class="col-md-9 col-lg-4">
                                                <input formControlName="gioiTinh" id="gioiTinh" type="radio"
                                                        name="gioiTinh" value="Nam" checked /> Nam
                                                <input formControlName="gioiTinh" id="gioiTinh" type="radio"
                                                        name="gioiTinh" value="Nữ" /> Nữ
                                        </div>
                                </div>
                                <div class="row row-head">
                                        <div class="col-md-3 col-lg-2">
                                                <label>Học lực</label>
                                        </div>
                                        <div class="col-md-9 col-lg-4">
                                                <select name="hocLuc" id="hocLuc" formControlName="hocLuc">
                                                        <option value="Giỏi" selected>Giỏi</option>
                                                        <option value="Khá">Khá</option>
                                                        <option value="TB">TB</option>
                                                        <option value="Yếu">Yếu</option>
                                                </select>
                                        </div>
                                </div>
                                <!-- <div class="row row-head">
                    <div class="col-md-3 col-lg-2">
                        <label>Ngày sinh:</label>
                    </div>
                    <div class="col-md-9 col-lg-4">
                        <input type="date" class="form-control" name="txtBirthday" value=""/>
                    </div>
                </div> -->

                                <div class="row row-head">
                                        <div class="col-lg-2">
                                                <label>Số điện thoại:</label>
                                        </div>
                                        <div class="col-lg-10">
                                                <input type="tel" name="txtSdt" class="form-control"
                                                        formControlName="sdt">
                                                <div *ngIf="submit && f.sdt.errors" class="invalid-feedback"
                                                        style="color: red;">
                                                        <div *ngIf="f.sdt.errors.required">Nhập số điện thoại</div>
                                                        <div *ngIf="f.sdt.errors.minlength">SĐT phải dài 10 ký tự!</div>
                                                        <div *ngIf="f.sdt.errors.maxlength">SĐT phải ngắn hơn 64 ký tự!
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                                <div class="row row-head">
                                        <div class="col-lg-10">
                                                <button (click)="onSubmit()" class="btn btn-success">Thêm mới</button>
                                                <button type="submit" (click)="save()"
                                                        class="btn btn-success">Lưu</button>
                                                <a href="/nhanvien/" class="btn btn-danger">Quay lại</a>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</form>
