<div [@fadeInOut]>
    <dx-data-grid #dataSourceGrid class="content-block" (onSelectionChanged)="onSelectionChanged($event)" (onToolbarPreparing)="onToolbarPreparing($event)" [showColumnLines]="true" [cacheEnabled]="false" [dataSource]="dataSource" [remoteOperations]="true" [hoverStateEnabled]="true" [rowAlternationEnabled]="true" [allowColumnResizing]="true" [columnAutoWidth]="true" [showBorders]="true" [columnAutoWidth]="true" [columnHidingEnabled]="false">
        <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-group-panel [visible]="true"></dxo-group-panel>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
        <dxo-paging [pageSize]="10"></dxo-paging>
        <dxo-master-detail [enabled]="true" template="detail"></dxo-master-detail>

        <dxi-column dataField="name" sortOrder="asc" caption="Course Type Name" cellTemplate="genreNameTemplate" [fixed]="true" [allowHeaderFiltering]="false"></dxi-column>
        <dxi-column dataField="courseCount" caption="Courses Count" width="170" cellTemplate="courseCountTemplate" [fixed]="true" alignment="center" [allowFiltering]="false"></dxi-column>

        <dxi-column dataField="description" [allowHeaderFiltering]="false"></dxi-column>
        <dxi-column dataField="id" *ngIf="isGrant('users.manage')" [width]="80" type="buttons" caption="" [allowSorting]="false" cellTemplate="taskCellTemplate"> </dxi-column>

        <div *dxTemplate="let cell of 'genreNameTemplate'">
            <div><b style="color: #bf4e6a;">{{cell.value}}</b></div>
        </div>

        <div *dxTemplate="let cell of 'courseCountTemplate'">
            <div><b>{{cell.value}}</b></div>
        </div>

        <div *dxTemplate="let d of 'taskCellTemplate'" class="dx-command-edit dx-command-edit-with-icons" style="display: flex; justify-content: space-around;min-width: 0;width: auto;">
            <a class="dx-link dx-link-edit dx-icon-edit dx-link-icon" title="Edit" aria-label="Edit" (click)="onRowEdit(d)"></a>
            <a class="dx-link dx-link-delete dx-icon-trash dx-link-icon" title="Delete" aria-label="Delete" (click)="onRowDelete(d)"></a>
        </div>

        <div *dxTemplate="let cell of 'detail'">
            <dx-data-grid [dataSource]="cell.data.courses" [showColumnLines]="true" [hoverStateEnabled]="true" [rowAlternationEnabled]="true" [columnAutoWidth]="true" [showBorders]="true">
                <dxi-column dataField="id" [width]="200" caption="Coures Id" [fixed]="true"></dxi-column>
                <dxi-column dataField="name" caption="Coures Name"></dxi-column>
                <dxi-column dataField="numberOfLesson" [width]="150" caption="No. Lesson" alignment="center" [allowFiltering]="false"></dxi-column>
        
            </dx-data-grid>
        </div>

        <dx-button *dxTemplate="let data of 'deleteButton'" [class.hidden]="!selectedRows.length" stylingMode="contained" type="default" text="Delete Selected Records"> </dx-button>

    </dx-data-grid>
</div>

<dx-popup (onHidden)="onHidePopup()" [maxWidth]="640" [height]="'auto'" title="Genre Info" [showTitle]="true" [closeOnOutsideClick]="false" [(visible)]="popupVisible">
    <form novalidate (submit)="onSave($event)">
        <dx-form #taskForm [formData]="obj" [disabled]="isLoading" [showColonAfterLabel]="false" labelLocation="top">

            <dxi-item dataField="name" [editorOptions]="{stylingMode: 'filled', id: taskForm.formData.id, table: 'genres'}">
                <dxi-validation-rule type="required"> </dxi-validation-rule>
                <dxi-validation-rule type="async" message="Already exist!" [validationCallback]="ayncValidate"> </dxi-validation-rule>
            </dxi-item>

            <dxi-item dataField="description" editorType="dxTextArea" [editorOptions]="{ stylingMode: 'filled', height: 90}"></dxi-item>

            <dxi-item itemType="button" cssClass="last-group pb-0 pt-0 mt-rem-1">
                <dxo-button-options type="default" [useSubmitBehavior]="true" [template]="'taskFormTemplate'" [elementAttr]="{ class: 'submit-button' }"></dxo-button-options>
            </dxi-item>
            <ng-container *dxTemplate="let item of 'taskFormTemplate'">
                <span class="dx-button-text dx-button-with-loading">
                    <ng-container *ngIf="isLoading; else notLoading">
                        <dx-load-indicator width="24px" height="24px"></dx-load-indicator>
                        <div class="display">Loading... </div>
                    </ng-container>
                    <ng-template #notLoading>Save</ng-template>
                </span>
            </ng-container>

        </dx-form>
    </form>
</dx-popup>